<mat-toolbar *ngIf="contactsList">
  <div class="w-100 h-100">
   <p class="text-center pt-4">Contacts</p>
  </div>
</mat-toolbar>

<mat-toolbar *ngIf="contactDetail">
    <div style="cursor: pointer;"  (click)="goBackToList()" class="w-50 h-100 float-left">
        <p class="text-center pt-4 text-primary font-weight-bold float-left ml-3 mt-3">Contacts</p>
    </div>
    <div class="w-50 h-100 float-right">
             <img class="float-right mt-4" *ngIf="!isFavorite" src="assets\images\Favorite — False@3x.png" alt="">
             <img class="float-right mt-4" *ngIf="isFavorite" src="assets\images\Favorite — True@3x.png" alt="">
    </div>
</mat-toolbar>