
<mat-toolbar>
  <div class="w-100 h-100">
      <p class="text-center pt-4">Contacts</p>
  </div>
</mat-toolbar>
<section>
    <div class="bg-light">FAVORITE CONTACTS</div>
    <mat-list class="container-fluid" role="list">
      <a mat-list-item routerLink="/contacts/{{contact.id}}" class="w-100 h-100" role="option" *ngFor="let contact of favoriteContactsList| orderBy: order">
        <div class="row w-100 p-4">
          <div class="col-3">
            <img *ngIf="contact.smallImageURL != null" (error) ="changeSource($event)" class="w-50 h-100" [src]="contact.smallImageURL" alt="">
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-1">
               <img *ngIf="!contact.isFavorite" src="assets\images\Favorite — False@3x.png" alt="">
               <img *ngIf="contact.isFavorite" src="assets\images\Favorite — True@3x.png" alt="">
              </div>
              <div class="col-11">
                <h1 class="mt-2">{{contact.name}}</h1>
                <span class="text-dark">{{contact.companyName}}</span>
              </div>
            </div>
          </div>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </a>
    </mat-list>
    <div class="bg-light">OTHER CONTACTS</div>
    <mat-list class="container-fluid" role="list">
      <a mat-list-item routerLink="/contacts/{{contact.id}}" class="w-100 h-100" role="option" *ngFor="let contact of otherContactsList| orderBy: order">
        <div class="row w-100 p-4">
          <div class="col-3">
            <img *ngIf="contact.smallImageURL != null" (error) ="changeSource($event)" class="w-50 h-100" [src]="contact.smallImageURL" alt="">
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-1">
               <img *ngIf="!contact.isFavorite" src="assets\images\Favorite — False@3x.png" alt="">
               <img *ngIf="contact.isFavorite" src="assets\images\Favorite — True@3x.png" alt="">
              </div>
              <div class="col-11">
                <h1 class="mt-2">{{contact.name}}</h1>
                <span class="text-dark">{{contact.companyName}}</span>
              </div>
            </div>
          </div>
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </a>
    </mat-list>
</section>


