<mat-toolbar>
  <div class="w-100 h-100 position-relative">
    <span id="contacts-title" class="text-center mt-5 position-absolute">Contacts</span>
  </div>
</mat-toolbar>
<main>


  <div class="lists-titles p-2">
    <span class="ml-3">FAVORITE CONTACTS</span>
  </div>
  <mat-list class="container-fluid" role="list">
    <a mat-list-item routerLink="/contacts/{{contact.id}}" class="w-100 h-100" role="option" *ngFor="let contact of favoriteContactsList| orderBy: 'name'">
      <div class="list-item-content row w-100 pt-4 pb-4">
        <div style=" padding-left:0px" class="col-4">
          <img *ngIf="contact.smallImageURL != null" (error)="onImageError($event)" class="w-100 h-100" [src]="contact.smallImageURL"
            alt="">
        </div>
        <div style="padding-right:0px;" class="col-8">
          <span class="favorite-star" *ngIf="contact.isFavorite">⭐</span>
          <div style="width: 85%" class="h-100 d-inline float-right">
            <h1 class="contacts-names">{{contact.name}}</h1>
            <span class="d-block contacts-company-names">{{contact.companyName}}</span>
          </div>
        </div>
        <mat-divider class="mt-5"></mat-divider>
      </div>
    </a>
  </mat-list>


  <div class="lists-titles p-2">
    <span class="ml-3">OTHER CONTACTS</span>
  </div>
  <mat-list class="container-fluid" role="list">
    <a mat-list-item routerLink="/contacts/{{contact.id}}" class="w-100 h-100" role="option" *ngFor="let contact of otherContactsList| orderBy: 'name'">
      <div class="list-item-content row w-100  pt-4 pb-4">
        <div style=" padding-left:0px" class="col-4">
          <img *ngIf="contact.smallImageURL != null" (error)="onImageError($event)" class="w-100 h-100" [src]="contact.smallImageURL"
            alt="">
        </div>
        <div style="padding-right:0px;" class="col-8">
          <div style="width: 85%" class="h-100 d-inline float-right">
            <h1 class="contacts-names">{{contact.name}}</h1>
            <span class="d-block contacts-company-names">{{contact.companyName}}</span>
          </div>
        </div>
        <mat-divider class="mt-5"></mat-divider>
      </div>
    </a>
  </mat-list>
</main>

