.mat-list-item {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 16vmax;
  background-color: #FAFAFA
}


#contacts-title{
  font-size: 5.5vw;
  font-family: 'Bitter', serif;
  right: 0px;
  left: 0px;
  bottom: 15%;
}

.favorite-star{
  font-size: 4.5vw;
}

.lists-titles {
  background-color: #F2F2F2;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 2vw;
}

.mat-divider {
  position: relative!important;
}

.contacts-names{
  font-family: "Sarabun", sans-serif;
  font-size: 5vw;
  word-break: break-word;
}

.contacts-company-names{
  color: #BDBDBD;
  font-size: 2.5vw;
  word-break: break-word;
}



@media (min-width: 300px ) and (max-width:480px) {      
  .list-item-content{
    padding-top: 0!important;
   
  }
  .mat-divider{
    margin-top: 1rem!important;
  }
}

